.navbar {
    display: flex;
    align-items: center;
    padding: 20px; 
    background-color:#bbdce1;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 200px; 
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 20px; 
  }
  
  .navbar-links li a {
    color: #b3b3b3ed;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-links li a:hover {
    text-decoration: underline;
  }
  
  .navbar-right {
    margin-left: auto; 
  }
  
  .navbar-login-button {
    background-color: #b3b3b3b8;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: monserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .navbar-login-button:hover {
    background-color: #f1f1f1;
  }
  