/* Login.css */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-form {
  max-width: 80%; /* Ajusta el ancho según tus necesidades */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  display: flex; /* Usamos flexbox para un mejor diseño */
  flex-direction: column;
  align-items: center;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #007bff;
}

.error-message {
  color: #ff0000;
  margin-bottom: 15px;
  text-align: center;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.form-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%; /* El botón ocupa todo el ancho del contenedor */
  padding: 12px 20px; /* Espaciado interno del botón */
  border: none; /* Sin borde alrededor del botón */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #e0f7fa; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  font-size: 16px; /* Tamaño de la fuente del texto del botón */
  cursor: pointer; /* Cambia el cursor cuando pasa sobre el botón */
  transition: background-color 0.3s ease-in-out; /* Transición suave del color de fondo al pasar el mouse */
}

.submit-button:hover {
  background-color: #e0f7fa; /* Color de fondo del botón cuando el mouse pasa sobre él */
}
